
/* ************************************ *
 * Chew version:   {{ chew.version }} ({{ chew.version_date }}){{ offset 7 chew.version }} *
 * Config version: {{ .parent.version }}{{ offset 20 .parent.version }} *
 * Generate date:  {{ chew.execution_date }} {{ chew.execution_time }}     *
 * ************************************ */